.world {
  width: 100%;
  height: 100%;
  position: relative;
}

.world-view {
  background: black;
  overflow: auto;
}

.world-view-wrapper {
  position: relative;
  display: inline-block;
  background: white;
}

.world-view canvas {
  width: 100%;
  height: 100%;
}
