.devtools {
  background: lightgrey;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.devtools-resize-top {
  height: 7px;
  width: 100%;
  cursor: ns-resize;
  position: absolute;
}

button svg {
  width: 18px;
  height: 18px;
}
